@import url('https://fonts.googleapis.com/css?family=Exo+2');

* {
  box-sizing: border-box;
}
body{
  font-family:"Exo 2", sans-serif;
  text-align:center;
  background-color: lightblue;/*#f2efe8;*/
  margin:-40px -10px 0px -10px;
}

header{

}
header>h1{
  font-family:"Exo 2",sans-serif;
  color:teal;
  background-color:#dbe9d8;
  border-bottom: 3px solid teal; /*#b0aac2;*/
  padding:10px;
  font-size: 50px;
}
h2{
  color:rgb(255, 120, 120);
}
summary{
  color:teal;
  background-color:#dbe9d8;
  border: 1px solid teal;
}
a, a:visited{
  text-decoration:none;
  color: teal;
}

article>a{
  font-size: 14px;
  margin-top: -20px;
  color:#3C455C;
}
nav {
  text-align:center;
}

main, section{
  margin:20px auto ;
  text-align:center;
  padding: 10px 10%;
  background-color: white;
  line-height:1.5em;
  border-radius: 75px 0px;
}
main{
  width:75%
}

.quote{
  text-align: right;
  font-style: italic;
}
div{
  color:rgb(255, 120, 120);
  display:inline-block;
  vertical-align:middle;
  width:150px;
  height:150px;
  padding: 50px 30px;
  margin: auto 5px;
  background-color: teal; /*#c2d4d8;*/
  border-radius: 75px 0px;
}
h3,h4{
  background-color: white;
  width: 150px;
  padding: 0px 20px;
  margin:auto -30px;
  vertical-align:middle;
}
h4{
  width: 100px;
}
details>div{
  width:100px;
  height:100px;
  border-radius: 50px 0;
}

footer{
  background-color: #c2d4d8;
  color:#f2efe8;
  padding:10px;
  text-align:center;
  border-top: 3px solid teal;

}
li{
  width: 90%;
  list-style-type: circle;
  text-align: left;
}
.groupphoto{
  float:left;
  width:30%;
  padding: 10px 10px 0 0;
}
#ai_10ist{
  text-align:left;

}
.myyears{
  width:100%;
  display:flex;
  justify-content:center;
}
