@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
* { box-sizing: border-box; }

ul {
  background-color:rgb(255, 232, 232);
  padding: 0;
}

a {
  padding: 20px;
  display: inline-block;
  color: black;
  text-decoration: none;
  text-transform:capitalize;
  font-family:"Patrick Hand SC";
  font-size:20px;
}

nav > ul > li {
  display: inline-block;
}
nav > ul > li:hover {
  background-color:rgb(255, 204, 204);
}

nav > ul > li > ul {
  background-color: rgb(255, 232, 232);
  list-style: none;
  padding: 0;
  position: absolute;
  display:none;
}
nav > ul > li > ul > li:hover{
  background-color:rgb(255, 204, 204);
}
nav>ul>li:hover>ul{
  display:block;
}
body {
  background-color:white;
  }
.header {
  text-align: center;
  color: black;
  font-size: 30px;
  }
  .title {
    font-family:"Amatic SC";
    text-align:center;
    font-size:45px;
  }
  button {
    background-color:white;
    font-family:"Balsamiq Sans";
    border-radius: 4px;
    Font-size:12px;
    margin:4px;
    padding:5px;
  }
  .prev, .next {
    font-size:20px;
  }
