.gallery {
  margin: 5px;
  border: 2px solid white;
  float: left;
  width: 455px;
}

.gallery:hover {
  border: 3px dashed rgb(237, 142, 175);
}

.gallery img {
  width: 100%;
  height: auto;
  padding: 0;
}

.desc {
  padding: 5px;
  text-align: center;
}
